.container {
  /* margin: 34px; */
  height: 100vh;
}

img {
  width: 80px;
}

header {
  position: sticky;
}

.nav-link:hover {
  background-color: #191919;
  transition-duration: 0.3s;
  border-radius: 3px;
}


.login-section input:hover {
  border: 1px solid #191919;
}

.notlogin {
  color: #020202;
  text-align: center;
}
